a {
    color: #64c3ff;
    cursor: pointer;
    font-size: 14px;
}

a:hover {
    text-decoration: underline;
}

.App {
    text-align: center;
}

html, body, #root, #app {
    height: 100%;
    width: 100%;
}

body {
    background: whitesmoke;
}

h1, h2, h3, h4 {
    margin: 0;
}

h3 {
    color: rebeccapurple;
}

.clear {
    clear: both;
}