#login-wrapper {
    height: 100%;
    display: flex;
    align-items: center;
    background: #574499;
    color: white;
}

#login-wrapper .login-form {
    margin: 0 auto;
}

#login-wrapper .login-form .inner > div {
    margin-bottom: 20px;
}

#login-wrapper .login-form .inner > div label {
    margin-right: 20px;
    font-size: 14px;
}

#login-wrapper .login-form .controls {
    text-align: center;
    font-size: 14px;
}

#login-wrapper .login-form .controls button {
    margin-right: 20px;
}

.login-error {
    text-align: center;
    color: darkred;
    font-size: 12px;
}

#login-wrapper .inner {
    display: inline-block;
    vertical-align: middle;
    border-left: 1px solid rgba(255, 255, 255, 0.58);
    padding-left: 40px;
    margin-left: 40px;
    padding-top: 20px;
}

#login-wrapper div.title {
    display: inline-block;
    vertical-align: middle;
}

#login-wrapper div.title span {
    vertical-align: middle;
    color: white;
    font-weight: bold;
    font-size: 20px;
    margin-left: 10px;

}

#login-wrapper div.logo {
    vertical-align: middle;
    width: 35px;
    height: 35px;
    background-color: white;
    border-radius: 20px;
    background-image: url("./mine-logo.png");
    background-size: 70%;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: 5px;
}
